{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <body class="grey lighten-3">


    <!--Main layout-->
    <main>
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Wyślij Przelew na poddane Konto</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12 mb-4">


                    <div class="card">

                        <div class="col-md-12 ">
                                    <label class="">Nazwa Odbiory</label>
                                    <div class="has-feedback">
                                        <input type="text" class="form-control" name="ricipient" maxlength="30"
                                               value="{{Dane.nazwao_dbiorcy}} " placeholder="">
                                    </div>
                        </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <label class="">Numer Rachunku</label>
                                    <div class="has-feedback">
                                        <input type="text" name="account_ricipient" maxlength="32" value=""
                                               class="form-control" placeholder="{{ Dane.nr_rachunku }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 ">
                                    <label class="">Kwota Przelwu</label>
                                    <div class="has-feedback">
                                        <input type="text" name="amount" maxlength="12" value="" class="form-control"
                                               placeholder="{{Zamowienie.cena_koncowa_zamowienia}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <label class="">Tytuł przelewu</label>
                                    <div class="has-feedback">
                                        <input type="text" name="transfer_title" maxlength="108" value=""
                                               class="form-control" placeholder="{{ Zamowienie.id_zamowienia }}">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->
{% endblock %}