{% extends "base.html" %}
{% load static %}
{% block content %}

  <!--Main layout-->
  <main>

    <div class="container">

<div class="table-responsive">
  <table class="table">
      <h2>
      Podsmowanie Zamówienia
      </h2>
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa Produktu</th>
          <th scope="col">Ilosc</th>
          <th scope="col">Cena</th>
          <th scope="col">oszczędzasz</th>
          <th scope="col">Cena całkowita</th>

      </tr>
    </thead>
    <tbody>
    {% for zamowiony_przedmiot in object.przedmioty.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{zamowiony_przedmiot.przedmiot.nazwa}}</td>
       <td>
            <a href="{% url 'Witryna:usun_pojedynczy_przedmiot_z_koszyka' zamowiony_przedmiot.przedmiot.id %}"><i class="fas fa-minus mr-2"></i></a>
                {{zamowiony_przedmiot.ilosc}}
            <a href="{% url 'Witryna:dodaj_do_koszyka' zamowiony_przedmiot.przedmiot.id %}"> <i class="fas fa-plus ml-2"></i> </a>
        </td>

        {% if zamowiony_przedmiot.przedmiot.promocyjnacena %}

            <td><del>{{zamowiony_przedmiot.przedmiot.cena}} zł  </del>{{zamowiony_przedmiot.przedmiot.promocyjnacena}} zł</td>
        {% else %}
             <td>  {{zamowiony_przedmiot.przedmiot.cena}} zł</td>
        {% endif %}
        <td>{{zamowiony_przedmiot.oszczedzonakwota}} zł</td>

        <td>{{zamowiony_przedmiot.cena_calkowita_produktow}} zł</td>

         <td>  <a href="{% url 'Witryna:usun_z_koszyka' zamowiony_przedmiot.przedmiot.id %}"><i class="fas fa-trash-alt"></i></a></td>
      </tr>


    {% endfor %}
        {% if object.przedmioty.all  %}
        <tr>
            <td colspan="5"> Cena Końcowa</td>
            <td> {{ object.cena_koncowa_zamowienia }}  zł</td>
        </tr>
         <tr>
             <td colspan="4"> <a class="btn btn-primary float-right mr-lg-1" href='/' >Kontynuj zakupy</a></td>
             <td colspan="5"> <a class="btn btn-warning float-right" href='/dokonaj_platnosci' ><i class="fas fa-cart-plus ml-4"></i>apłać</a></td>

        </tr>
         {% else %}
            <tr>
            <td colspan="5"> Twój koszyk jest pusty</td>
        </tr>
         <tr>
             <td colspan="4"> <a class="btn btn-primary float-right mr-lg-1" href='/' >Kontynuj zakupy</a></td>
        </tr>

        {% endif %}
    </tbody>
  </table>
</div>

    </div>
  </main>
{% endblock %}